---
layout: default
title: blog
---

{% for post in site.posts %}
  <a class="blog-post" href="{{ post.url | prepend: site.baseurl }}">
    <div class="blog-post-text">
      <div class="blog-post-title">{{ post.title }}</div><br>
      <div class="blog-post-time">{{ post.date | date: "%b %-d, %Y" }}</div> 
      <div class="blog-post-categories">
        {% for category in post.categories %}
          {{ category }}
        {% endfor %}
      </div>
      {% if post.description %}
        <div class="blog-post-description">{{ post.description }}</div>
      {% endif %}
    </div><div class="blog-post-thumbnail">{% if post.image-url %}<img class="blog-post-thumbnail-image" src="{{ post.image-url | prepend: site.baseurl }}"/>{% endif %}</div>
  </a>
{% endfor %}

<div class="pagination-nav">
  {% if site.previous_page %}
    <a href="{{ site.previous_page_path }}" class="pagination-prev duration-300">
      <span class="duration-300"></span>
      <span class="duration-300"></span>
      <div class="pagination-text">Previous</div>
  </a>
  {% endif %}
  {% if site.next_page %}
    <a href="{{ site.next_page_path }}" class="pagination-next duration-300">
      <span class="duration-300"></span>
      <span class="duration-300"></span>
      <div class="pagination-text">Next</div>
    </a>
  {% endif %}
</div>