<footer>
	<p><a href="mailto:{{ site.email }}">elwin ha &copy; 2016</a></p>
	<!--<a class="img-social-media-icon" href="https://linkedin.com/in/{{ site.linkedin_username }}">
		<img class="img-social-media-icon" src="{{ site.linkedin_url | prepend: site.baseurl | prepend: site.url }}"/>
	</a>
	<a class="img-social-media-icon" href="https://www.instagram.com/{{ site.instagram_username }}">
		<img class="img-social-media-icon" src="{{ site.instagram_url | prepend: site.baseurl | prepend: site.url }}"/>
	</a>
	<a class="img-social-media-icon" href="https://twitter.com/{{ site.twitter_username }}">
		<img class="img-social-media-icon" src="{{ site.twitter_url | prepend: site.baseurl | prepend: site.url }}"/>
	</a>-->
</footer>
