---
layout: default
---


{% for post in paginator.posts %}
	<a class="post-container" href="{{ post.url | prepend: site.baseurl }}">
		<span class="post-dot-1"></span>
		<span class="post-dot-2"></span>
		<span class="post-dot-3"></span>
		<span class="post-dot-4"></span>

		{% if post.image-url %}
			<!--<a href="{{ post.url | prepend: site.baseurl }}">-->
				<img class="post-thumbnail" src="{{ post.image-url | prepend: site.baseurl }}"/>
			<!--</a>-->
		{% endif %}
		<div class="post-title">{{ post.title }}</div><br>
		<div class="post-time">{{ post.date | date: "%b %-d, %Y" }}</div>	
	</a>
{% endfor %}

<div class="pagination-nav">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-prev duration-300">
	    <span class="duration-300"></span>
	    <span class="duration-300"></span>
	    <div class="pagination-text">Previous</div>
	</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-next duration-300">
    	<span class="duration-300"></span>
    	<span class="duration-300"></span>
   		<div class="pagination-text">Next</div>
   	</a>
  {% endif %}
</div>

<!--<p>subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>-->
